<div class="container pt-5 pb-5">
    <form [formGroup]="sellerRegisterForm" (ngSubmit)="onSubmit()">
        <div class="card mx-lg-5">
            <div class="card-header">
                <h2 class="display-5">Register Seller</h2>
            </div>
            <div class="card-body">
                <!-- Username Field -->
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" formControlName="username" />
                </div>

                <!-- Password Field -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password" />
                </div>

                <!-- Confirm Password Field -->
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control"
                        formControlName="confirmPassword" />
                </div>

                <!-- Email Field -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email" />
                </div>

                <!-- Phone Number Field -->
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber" />
                </div>

                <!-- Address Field -->
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" id="address" class="form-control" formControlName="address" />
                </div>

                <!-- Name Field -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name" />
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>
    </form>
</div>