<div class="container pt-3">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2 class="display-4">Orders</h2>
        </div>
        <div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order date</th>
                <th scope="col">Address</th>
                <th scope="col">Total price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders$ | async">
                <th scope="row">{{ order.orderDate | date }}</th>
                <td>{{ order.address }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.status }}</td>
                <td [width]="'150px'">
                    <button class="btn btn-sm btn-primary" (click)="shipOrder(order)"><i class="bi bi-rocket-takeoff-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>