<div class="bg-dark text-light">
    <div class="container">
        <footer class="pt-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Links</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-light">Home</a></li>
                <li class="nav-item mb-2"><a routerLink="/sale" class="nav-link p-0 text-light">Sale</a></li>
                <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-light">Contact</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-light">Categories</a>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link text-light" routerLink="">Smart Lights</a></li>
                    </ul>
                </li>
              </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
              <h5>User</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="">Log in</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="">Sign up</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
              <form [formGroup]="newsletterForm" (ngSubmit)="submit()">
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address" formControlName="email">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
            <p>© 2023 Shipfinity, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-light h4" href="#"><i class="bi bi-google-play"></i></a></li>
              <li class="ms-3"><a class="link-light h4" href="#"><i class="bi bi-apple"></i></a></li>
              <li class="ms-3"><div class="vr h-100"></div></li>
              <li class="ms-3"><a class="link-light h4" href="#"><i class="bi bi-facebook"></i></a></li>
              <li class="ms-3"><a class="link-light h4" href="#"><i class="bi bi-instagram"></i></a></li>
              <li class="ms-3"><a class="link-light h4" href="#"><i class="bi bi-twitter"></i></a></li>
              <li class="ms-3"><a class="link-light h4" href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
          </div>
        </footer>
      </div>
</div>