@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.display-1{
    font-family: 'Poiret One', cursive !important;
    font-size: 48px !important;
}

.display-2{
    font-family: 'Poiret One', cursive !important;
    font-size: 42px !important;
}

.display-3{
    font-family: 'Poiret One', cursive !important;
    font-size: 36px !important;
}

.display-4{
    font-family: 'Poiret One', cursive !important;
    font-size: 32px !important;
}

.display-5{
    font-family: 'Poiret One', cursive !important;
    font-size: 28px !important;
}

.display-6{
    font-family: 'Poiret One', cursive !important;
    font-size: 24px !important;
}