<div class="container pt-5">
    <form>
        <div class="card mx-lg-5">
            <div class="card-header">
                <h2 class="display-5">Login as a Seller</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" id="password" class="form-control" />
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>