<main id="main-container">
    <section id="carousel">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselExample" data-bs-slide-to="3"></li>
          <li data-bs-target="#carouselExample" data-bs-slide-to="4"></li>
        </ul>

        <div class="carousel-inner">
          <!-- First Image -->
          <div class="carousel-item active">
            <img src="/assets/img/main-carousel-pngimages/smart_lights.png" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase">Smart Lights</p>
              <h1 class="display-1 fw-bolder text-capitalize">Loosen your room with Smart Lights</h1>
              <a href="./categories/smart_lights.html" class="btn btn-primary px-4 py-2 fs-5 mt-5">Buy</a>
            </div>
          </div>
          <!-- Second Image -->
          <div class="carousel-item">
            <img src="/assets/img/main-carousel-pngimages/smart_plugs.png" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Smart Plugs</p>
              <p class="display-1 fw-bolder text-capitalize">Get yourself Smart Plugs, which is easy to use.</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal">Buy</button>
            </div>
          </div>
          <!-- Third Image -->
          <div class="carousel-item">
            <img src="/assets/img/main-carousel-pngimages/smart_speakers.png" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Smart Speaker</p>
              <p class="display-1 fw-bolder text-capitalize">Intelligent devices that respond to voice commands</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal">Buy</button>
            </div>
          </div>
          <!-- Fourth Image -->
          <div class="carousel-item">
            <img src="/assets/img/main-carousel-pngimages/smart_thermostat.png" class="d-block w-100 c-img" alt="Slide 4">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Smart Thermostat</p>
              <p class="display-1 fw-bolder text-capitalize">Save energy, manage from your phone</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal">Buy</button>
            </div>
          </div>
          <!-- Fifth Image -->
          <div class="carousel-item">
            <img src="/assets/img/main-carousel-pngimages/wifi_extenders.png" class="d-block w-100 c-img" alt="Slide 5">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Wifi Extenders</p>
              <p class="display-1 fw-bolder text-capitalize">Travel everywhere with Wi-Fi Extender</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal">Buy</button>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </section>
  </main>