<div class="card">
    <div class="card-body m-0 p-0 d-flex justify-content-center">
        <img class="bg-white w-auto" style="height: 250px;"
            [src]="[product.imageUrl?? '/assets/img/product/no_img.png']" alt="card image">
    </div>
    <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <h4 class="card-text">${{ product.price.toFixed(2) }}</h4>
        <div class="d-flex text-warning">
            <span class="text-black">Rating &nbsp; </span>
            <i *ngIf="product.rating >= 1" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 1" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 2" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 2" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 3" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 3" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 4" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 4" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 5" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 5" class="bi bi-star"></i>
        </div>
    </div>
    <div class="card-footer">
        <a [routerLink]="['/product', product.id]" class="btn btn-sm btn-secondary me-3">Read more</a>
        <button type="button" class="btn btn-sm btn-success" (click)="addToCartClick()"><i
                class="fa fa-cart-plus me-2"></i> Add to cart</button>
    </div>
</div>