img {
  margin-top: 10px;
  height: 250px;
}

.card-body h3 {
  font-weight: 500;
  margin-bottom: 15px;
}

.namePrice {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.price {
  font-size: 16px;
  font-weight: 400;
}

s {
  font-size: 14px;
}

.rating-container {
  display: flex;
  justify-content: center;
}

.container {
  height: 450px;
  width: 276px;
}

.card-footer {
  display: flex;
  justify-content: space-around;
}
