<div class="card">
    <img class="card-img-top product-img" [src]="[product.imageUrl?? '/assets/img/product/no_img.png']" alt="card image">
    <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <p class="card-text">${{ product.price.toFixed(2) }}</p>
        <div class="d-flex text-warning">
            <span class="text-black">Rating </span>
            <i *ngIf="product.rating >= 1" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 1" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 2" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 2" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 3" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 3" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 4" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 4" class="bi bi-star"></i>
            <i *ngIf="product.rating >= 5" class="bi bi-star-fill"></i>
            <i *ngIf="product.rating < 5" class="bi bi-star"></i>
        </div>
    </div>
    <div class="card-footer">
        <a [routerLink]="['/product', product.id]" class="btn btn-sm btn-secondary me-2">Read more</a>
        <button type="button" class="btn btn-sm btn-success" (click)="addToCartClick()"><i
                class="fa fa-cart-plus mr-2"></i> Add to cart</button>
    </div>
</div>