<div class="container pt-3">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2 class="display-4">Products</h2>
        </div>
        <div>
            <button class="btn btn-success"><i class="bi bi-plus"></i> Add</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <th scope="row">{{ product.name }}</th>
                <td>{{ product.categoryId }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <button class="btn btn-sm btn-primary me-2"><i class="bi bi-pencil-fill"></i></button>
                    <button class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>