.sale-products {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.sale-product {
  position: relative;
  background-color: var(--sectionBack);
  width: 400px;
  height: 500px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.sale-product:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 60%;
  display: grid;
  place-items: center;
}

.image img {
  max-width: 250px;
  max-height: 250px;
}

.namePrice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.namePrice h3 {
  font-size: 22px;
  font-weight: 500;
  color: var(--textColor);
  margin-bottom: 10px;
}

.namePrice span {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--starColor);
}

.namePrice s {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 200;
}

.sale-product p {
  font-size: 18px;
  line-height: 18px;
  text-align: justify;
}

.fa-solid .fa-star {
  font-size: 21px;
  color: var(--starColor);
}

.sale-product p {
  font-size: 14px;
  text-align: justify;
}

.price-container {
  display: flex;
}
