.sale-products {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.sale-product {
  position: relative;
  background-color: var(--sectionBack);
  width: 390px;
  height: 490px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.sale-product:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 60%;
  display: grid;
  place-items: center;
}

.image img {
  width: 240px;
}

.namePrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.namePrice h3 {
  font-size: 26px;
  color: var(--textColor);
}

.namePrice span {
  font-size: 18px;
  color: var(--starColor);
}

.sale-product p {
  font-size: 18px;
  line-height: 25px;
}

.fa-solid .fa-star {
  font-size: 21px;
  color: var(--starColor);
}

.buy {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.buy button {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.buy button:hover {
  transform: scale(1.1);
}
