<div class="container mt-5">
    <h1 class="display-3">Our hottest deals</h1>
    <hr class="hr hr-blurry">
    <div class="sale-products">
        <div class="sale-product">
            <div class="image">
               <img src="https://m.media-amazon.com/images/I/71YDobkreZL._AC_SX679_.jpg" alt="no work"> 
            </div>
            <div class="namePrice">
                <h3>Smart Light Bulb</h3>
                <span><s>$19.99</s> $14.99</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni.</p>
            <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>

        <div class="sale-product">
            <div class="image">
               <img src="https://m.media-amazon.com/images/I/61F09kEGfaL._AC_SX569_.jpg" alt="no work"> 
            </div>
            <div class="namePrice">
                <h3>Smart LED Strip</h3>
                <span><s>$39.99</s> $29.99</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni.</p>
            <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>

        <div class="sale-product">
            <div class="image">
               <img src="https://m.media-amazon.com/images/I/61rKiSSmDqL._AC_UX679_.jpg" alt="no work"> 
            </div>
            <div class="namePrice">
                <h3>Smart Router</h3>
                <span><s>$99.99</s> $84.99</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni.</p>
            <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
    </div>
</div>