@model CategoryCreateViewModel
@{
    ViewData["Title"] = "Create category";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="display-4">Create new category</h2>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Create">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label asp-for="DisplayName" class="form-label">Display Name</label>
                    <input asp-for="DisplayName" type="text" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-success">Create category</button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Go back</a>
            </form>
        </div>
    </div>
</div>