@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

*,
*::after,
*::before
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.logo
{
   font-size: 27px;
   font-family: 'Bruno Ace', cursive;
   margin-top: 10px;
}

#home{
    margin-left: 0px;
}

#sale{
    margin-left: 0px;
    margin-right: 0px;
}

#sale{
    margin-left: 0px;
}

.shopping-cart-button{
    margin-right: 10px;
}

.shopping-cart{
    width: 30px;
}







