@import '/styles/header.css';
@import '/styles/footer.css';
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");


* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fb8500;
}

h4 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
}

p {
    font-size: 14px;

}


.search-img {
  max-width: 200px;
}

.search-card {
  border: solid 1px rgb(102, 102, 102);
  padding: 8px;
  border-radius: 8px;

}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.owl-carousel {
  width: 100%;
  background-color: #fffafa;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  justify-content: center;
  align-items: flex-start;
}


.product-card {
  width: 30%;
  min-height: 250px;
  border-radius: 7px;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #023047;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms transform ease-in-out;
}

.vector-images-links {
  width: 100%;
  background-color: #ffe8e8;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  justify-content: center;
  align-items: flex-start;
}

.vector-product-card {
  width: 15%;
  min-height: 250px;
  border-radius: 4px;
  /* margin: 10px; */
  padding: 20px;
  background-color: #fffafa;
  border: 2px solid #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
}

.category-images {
  width: 100%;
}

.carousel-images {
  width: 100%;
}

.carousel-caption .btn {
  position: relative;
  top: -30px;
}
/* First carousel */
/* -------------------------- */
/* Second carousel */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  margin: 10px;
  font-size: 18px;
  color: #000000;
}

.card-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
}

.read-more {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #333333;
  text-decoration: none;
}


.card-carousel {
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 220px;
  max-width: 100%;
  height: 450px;
  perspective: 2000px;
  perspective-origin: top;
  overflow-x: hidden;
}

.card-carousel .button-spin {
  position: absolute;
  top: 50%;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 800;
  padding: 10px 16px;
  text-shadow: 1px 1px 4px rgba(0, 54, 90, .5);
}

.card-carousel .button-spin:hover {
  box-shadow: 0px 4px 4px 4px rgba(0, 54, 90, .15);
}

.card-carousel .button-spin:active {
  box-shadow: none;
}

.card-carousel .button-spin.counterclockwise {
  left: 0;
}

.card-carousel .button-spin.clockwise {
  right: 0;
}

.card-carousel .inner-carousel {
  position: relative;
  width: 225px;
  margin: 0 auto;
  top: 80px;
  transform-style: preserve-3d;
}

.card-carousel .inner-carousel > div {
  position: absolute;
  margin: 0 auto;
  padding: 20px;
  width: 220px;
  height: 300px;
  opacity: 1;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  transition: all .5s ease-out;
  z-index: 1;
  box-shadow: 0px 10px 10px 10px rgba(0, 54, 90, .15);
}

.card-carousel .inner-carousel > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: .6;
  background-color: #ddd;
  z-index: 1;
}

.card-carousel .inner-carousel > div.counterclockwise:after,
.card-carousel .inner-carousel > div.clockwise:after {
  opacity: .4;
  cursor: pointer;
}

.card-carousel .inner-carousel > div.front:after {
  content: none;
}

.card-carousel .inner-carousel > div.front {
  background-color: #1C9577;
  background-image: radial-gradient(circle 200px at center right, #2ABA96, #1C9577);
  color: #fff;
}

.card-carousel .inner-carousel > div.front a {
  box-shadow: 0px 5px 5px 5px rgba(0, 54, 90, .15);
}

.card-carousel .inner-carousel > div.front a:hover,
.card-carousel .inner-carousel > div.front a:focus {
  border: 2px solid #48CFAD;
  padding: 5px 0;
}

.card-carousel .inner-carousel > div.front a:active {
  box-shadow: none;
}

.card-carousel .inner-carousel > div a {
  position: absolute;
  text-align: center;
  bottom: 30px;
  display: block;
  width: 180px;
  border: 1px solid #c9c9c9;
  border-radius: 16px;
  padding: 6px 0;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0px 5px 8px 3px rgba(0, 54, 90, .10);
}

/* --------------------------- */
main {
  min-height: 75vh;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider {
  height: 500px;
  width: 80%;
  max-width: 1450px;
  display: flex;
  perspective: 1000px;
  position: relative;
  align-items: center;
  margin: 0 auto;
}

.box {
  overflow: hidden;
  border-radius: 10px;
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  position: absolute;
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 100%;
}

.box.box1 {
  transform: translateX(-100%);
  z-index: 1;
}

.box.box2 {
  transform: translateX(0%);
  z-index: 2;
}

.box.box3 {
  transform: translateX(100%);
  z-index: 3;
}

.box.box4 {
  transform: translateX(200%);
  z-index: 2;
}

.box.box5 {
  transform: translateX(300%);
  z-index: 1;
}

.slider .firstSlide {
  animation: rotateSlider 20s linear infinite;
}


@keyframes rotateSlider {
  0% {
    transform: translateX(-100%);
  }

  20% {
    transform: translateX(0%);
  }

  40% {
    transform: translateX(100%);
  }

  60% {
    transform: translateX(200%);
  }

  80% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(400%);
  }
}