:root{
    --bodyBack: #ffeaed;
    --textColor: #1b2741;
    --starColor: #f67034;
    --sectionBack: #f7f6f9;
}

/* .container{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} */

.products{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.product {
    position: relative;
    background-color: var(--sectionBack);
    width: 390px; 
    height: 490px; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
  }

  .product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.image{
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
}

.image img{
    width: 240px;
}

.namePrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.namePrice h3{
    font-size: 32px;
    color: var(--textColor);
}

.namePrice span{
    font-size: 18px;
    color: var(--starColor);
}

.product p{
    font-size: 18px;
    line-height: 25px;
}

.fa-solid .fa-star{
    font-size: 21px;
    color: var(--starColor);
}

.buy{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.buy button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: var(--textColor);
    color: var(--sectionBack);
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}

.buy button:hover{
    transform: scale(1.1);
}

