<div *ngIf="(productDetails$ | async) as product" class="container mt-3 mb-5 d-flex justify-content-center">

  <div class="border card" style="width: 30rem; height: auto; border: none;">

    <div class="card-body">
      <div class="card-img-top d-flex justify-content-center">
        <img [src]="[product.imageUrl?? '/assets/img/product/no_img.png']" style="height: 20rem; width: auto;"
          class="card-img img-fluid" alt="">
      </div>
    </div>

    <hr class="m-0 p-0 border-secondary opacity-2">

    <div class="card-body text-center pt-3 bg-white">
      <h2 class="card-title text-center">{{product.name}}</h2>
      <p class="card-text text-center">{{product.description}}</p>
      <!-- <p class="card-text text-center">{{product.discountPercentage}}</p> -->
      <h4 class="card-text"><strong>${{ product.price.toFixed(2) }}</strong></h4>

      <span class="text-black">Rating </span>
      <div class="d-flex justify-content-center text-warning pb-2">
        <ng-container *ngFor="let i of [1,2,3,4,5]">
          <i *ngIf="product.rating >= i" class="bi bi-star-fill"></i>
          <i *ngIf="product.rating < i" class="bi bi-star"></i>
        </ng-container>
      </div>

    </div>

    <hr class="m-0 p-0 border-secondary opacity-2">

    <div class="d-flex justify-content-around pb-3 pt-3">
      <button type="button" class="btn bg-cart btn-success col-4 mx-auto" (click)="addToCartClick()"><i
          class="fa fa-cart-plus mr-2"></i> Add to
        cart</button>
      <a [routerLink]="['/product', 'category', product.categoryId]" class="btn btn-secondary col-4 mx-auto">Back</a>
    </div>
  </div>
</div>